#button-container {
    margin: 24px;
    text-align: center;
}

#container {
    border-color: black;
    border-width: 1px;
    border-style: dashed;
    display: flex; 
    flex-wrap: wrap; 
    width: 640px;
    height: 640px;
    margin: auto;
}

.hover {
    background-color: aqua;
}