#button-container {
    margin: 24px;
    text-align: center;
}

#container {
    background-color: aquamarine;
    display: flex; 
    flex-wrap: wrap; 
    width: 640px;
    height: 640px;
    margin: auto;
}

.square {
    background-color: blue;
}

.hover {
    background-color: aqua;
}